.Side {
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(29, 35, 39);
  overflow-y: auto;
}

/* For Webkit browsers like Chrome, Safari */
.Side::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.Side::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5); /* color of the track */
}

.Side::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0); /* creates padding around scroll thumb */
}


.Main {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 35, 39);
  height: 100vh;
  margin-inline-start: 240px;
}

.Create-note-wrapper {
  padding: 12px;
  margin-bottom: 12px;
}

.Note-container {
  position: relative;
}

